<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<p><strong> <%= @question %> </strong></p>
<p>- You</p>
<p><%= link_to "Ask", answer_path %></p>
<p><strong>
  <%= @answer[:answer] %>
</strong></p>
<p>- Coach</p>


